/* colors */

/* color #16657F   dark blue  */
/* color #79DDFF   light blue */

/* color #2DC9FF   turquoise  */

/* color #53747F   dark grey  */
/* color #24A1CC   blue       */


/* -- Defaults -- */
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
html{
  font-size: 16px;
  line-height:1.75;
  font-family: Helvetica, Calibri, sans-serif;
}



/* -- Layout -- */
.wrapper{
  max-width:35em;
  min-width:15rem;
  width:95%;
  margin:0 auto;
  background-color: #53747F;    /* color #53747F   dark grey  */
  /* color: #79DDFF;                color #79DDFF   light blue */
}
.masthead{
  
}
.nav{
  
}
.main{
  
}

.primary, .side{
  padding-bottom:1rem;
  padding-left:10px;
  padding-right:10px;
  color: #79DDFF;}
  
.footer{
  
}
/*.clearfix:after{
  clear:both;
  display:block;
  content: '.';
  visibility:hidden;
  height:0;
  line-height:0;
}*/


/* -- Navigation -- */
.mainnav ul{
  list-style:none;
}
.mainnav li{
}
.mainnav a,
.mainnav a:visited{
  text-decoration:none;
  display:block;
  font-size: 1.5rem;
  background-color: #333;
  color:#EEE;
  text-align:center;
}
.mainnav a:hover,
.mainnav a:active{
  background-color: #EEE;
  color:#333;
}



/* -- Content -- */
.masthead h1{
  font-size: 2rem;
  text-align: center;
  line-height: 2;
  background: #ddd url("http://lorempixel.com/960/400/cats/") no-repeat 50% 50%;
  color: #eee;
  text-shadow: 2px 2px 4px #000;
  padding: 0 1.5rem;
  /* -- make the 2rem padding standard --*/
}
.main h2{
  padding: 0 1.5rem;
  font-size: 1.8rem;
  line-height: 2;
  color:#EEE;
}
.main h3{
  padding: 0 1.5rem;
  font-size: 1.6rem;
  line-height: 2;
}
.left{
  float: left;   
  align-content: center;
  padding: 1rem 1rem 1rem 1rem;
}
.right{
  float: right;
  align-content: center;
  padding: 1rem 1rem 1rem 1rem;
}
.main p{
  padding: 0 1.5rem 1rem;
  font-size: 1rem;
}
.footer p{
  padding: 1rem 1.5rem;
  font-size: 0.8rem;
  background-color: #333;
  color: #999;
}


/* -- Media Queries -- */

@media all and (min-width:35em) and (max-width:60em){
  
    .wrapper{
      max-width: 60em;
      width :95%;
      margin: 0 auto;
    }
    
    .mainnav li{
      float: left;
      width: 25%;
    }
    
    .primary{
      float: left;
      width: 63%;
   }
    
    .side{
      float: left;
      width: 37%;
   }
}
    
@media all and (min-width:60em){
  
    .wrapper{
      max-width: 100em;
      width: 95%;
      margin: 0 auto;
    }

    .masthead h1{
      background: #ddd url("http://lorempixel.com/1600/400/cats/") no-repeat 50% 50%;
    }
    
    .mainnav{
      float: left;
      width: 25%;
      padding-bottom: 40rem;
      background: #ddd url("http://lorempixel.com/400/800/cats/") no-repeat 50% 50%;
    }
    
    .primary{
      float: left;
      width: 50%;
    
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;

    }
    
    .side{
      float: left;
      width: 25%  ; 
    }

}

